.velo {
    /* Clean style */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
    color: var(--button-text-color);
    cursor: pointer;
    /* Clean style */
    
    --button-text-color: var(--background-color);
    --button-text-color-hover: var(--button-background-color);
    --border-color: #7D8082;
    --button-background-color: #transparent;
    --highlight-color: #ff0000;
    --button-inner-border-color: ;
    --button-bits-color: var(--background-color);
    --button-bits-color-hover: var(--button-background-color);
    
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .velo::before,
  .velo::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; left: 0;
    height: calc(50% - 5px);
    border: 1px solid var(--border-color);
    transition: all .15s ease;
  }
  
  .velo::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .velo::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .velo:active,
  .velo:focus {
    outline: none;
  }
  
  .velo:active::before,
  .velo:active::after {
    right: 3px;
    left: 3px;
  }
  
  .velo:active::before {
    top: 3px;
  }
  
  .velo:active::after {
    bottom: 3px;
  }
  
  .velo__inner {
    position: relative;
    display: block;
    padding: 20px 30px;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
  }
  
  .velo__inner::before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 2px;
    height: 2px;
  }
  
  .velo__inner::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; bottom: 0;
    width: 4px;
    height: 4px;
    transition: all .2s ease;
  }
  .velo__slide {
    display: block;
    position: absolute;
    top: 0; bottom: -1px; left: -8px;
    width: 0;
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .velo__content {
    position: relative;
  }
  
  .velo:hover {
    color: var(--button-text-color-hover);
  }
  
  .velo:hover .velo__slide {
    width: calc(100% + 15px);
  }
  
  .velo:hover .velo__inner::after {
    background-color: var(--button-bits-color-hover);
  }
  
  .velo--light {
    --button-background-color: var(--background-color);
    --button-text-color: var(--highlight-color);
    --button-inner-border-color: var(--highlight-color);
    --button-text-color-hover: #B22222;
    --button-bits-color-hover: #ece8e1;
    background-color: transparent;
  }
